body {
  background-image: url(./images/unsplash-purple-tech.jpg);
}

.formInput {
  margin-left: 10%;
  margin-right: 10%;
}

.homePanel {
  background-image: url(./images/getty-images-glbiLU7qTyQ-unsplash.jpg);
  flex: 1 0 40%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.NavBar {
  text-align: center;
  background-color: aliceblue;
  margin-left: 20%;
  margin-right: 20%;
}

.NavLink {
  margin-right: 5%;
  margin-left: 5%;
}

#contactForm {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#contacts {
  background-color: aliceblue;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#message {
  resize: vertical;
}

#submit {
  margin-bottom: 30px;
}

#homeHeader {
  color: aliceblue;
  text-align: center;
}

#homePanelContainer {
  display: flex;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  flex-wrap: wrap;
}

#githubPanel {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  height: 80vh;
}

#mediumPanel {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  height: 80vh;
}