.NavBar {
  text-align: center;
}

.NavLink {
  margin-right: 10px;
  margin-left: 10px;
}

#contactForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

#contacts {
  text-align: center;
}

#message {
  resize: vertical;
}